<html>
<head>
  <title>Login</title>
</head>
<body>
<div data-role="page" data-theme="c">
  <div data-role="header" data-theme="b">
  <h1>ぶっこ抜き</h1>
  </div>
  <div data-role="content">
  <a href="/auth">login</a>
  </div>

  <div data-role="footer" data-theme="b">
  <h4><small>Copyright &copy; 2012 bukkonuki All Right Reserved</small></h4>
  </div>
</div>

</body>

</html>
